html {height: 100% width: 100%}
@font-face {font-family: okfont; src: url('https://scratch-games.that1origamikid.repl.co/fonts/Okfont-Regular.ttf');} 
  h1 {font-family: okfont}
  h2 {font-family: okfont}
  a {font-family: okfont}
  p {font-family: okfont}
  button {font-family: okfont}
a {color:slateblue}
h1 {color:dodgerblue}
h2 {color:steelblue}
body {
  background-image: url('https://cdn.discordapp.com/icons/1118056032623657040/d6eb8cd4a74851d51da55c2c1b6dd41e.webp?size=240');
p {color:white}
.centeraligned {text-align: center;}
